<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-launchscreen" version="1.0.0"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>cordova-plugin-launchscreen</name>
    <platform name="android">
        <hook type="after_plugin_add" src="scripts/add_android.js" />
        <hook type="before_plugin_uninstall" src="scripts/uninstall_android.js" />
    </platform>
    <platform name="ios">
        <hook type="after_plugin_add" src="scripts/add_ios.js" />
        <hook type="before_plugin_uninstall" src="scripts/uninstall_ios.js" />
    </platform>
</plugin>
