<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-launchscreen" version="1.0.0"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>cordova-plugin-launchscreen</name>
    <hook src="scripts/add.js" type="after_prepare" />
    <hook src="scripts/uninstall.js" type="before_plugin_uninstall" />
</plugin>
